AXIS_ENVIRONMENT=development
AXIS_HOST=127.0.0.1
AXIS_PORT=8000
AXIS_LOG_LEVEL=INFO
AXIS_DATABASE_URL=
AXIS_REDIS_URL=
AXIS_LLM_PROVIDER=none
AXIS_OLLAMA_BASE_URL=http://127.0.0.1:11434
AXIS_OLLAMA_MODEL=llama3.2
